<tr>
  <td class="px-6 py-4 whitespace-nowrap">
    <%= session.date.strftime('%Y/%m/%d') %>
  </td>
  <td class="px-6 py-4">
    <span class="px-2 py-1 text-sm rounded-full" style="background-color: <%= session.study_subject.color %>30;">
      <%= session.study_subject.name %>
    </span>
  </td>
  <td class="px-6 py-4 whitespace-nowrap">
    <% hours = session.duration / 60 %>
    <% minutes = session.duration % 60 %>
    <%= hours > 0 ? "#{hours}時間" : "" %> <%= minutes > 0 ? "#{minutes}分" : "" %>
  </td>
  <td class="px-10 py-4">
    <p class="text-sm text-gray-600 truncate max-w-xs"><%= truncate(session.notes, length: 30) %></p>
  </td>
  <td class="px-6 py-4 whitespace-nowrap text-right">
    <%= link_to "詳細", study_session_path(session), class: "bg-[#FF9E8C] hover:bg-[#C93A1D] text-white py-2 px-6 rounded-xl font-medium cursor-pointer transition" %>
  </td>
</tr>